main {
    margin-left: 30%;
}

nav {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30%;
  height: 100%;
}

.container {
    width: 460px;
    margin: 10px auto;
}

.withoutLeftMargin {
    margin: 10px;
}

.infoTable {
    border: 1px solid #d1d5da;
    border-radius: 3px;
    width: auto;
    margin-top: 25%;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #fff;
    
}

.infoTableTitle {
    border-bottom: 1px solid;
    background-color: #f1f8ff;
    border-bottom-color: #c0d3eb;
    padding: 8px 10px;
}

.infoTable::before{
    position: absolute;
    top: 111px;
    right: -13px;
    display: block;
    width: 8px;
    height: 0;
    pointer-events: none;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    border-width: 8px;
    border-left-color: #c0d3eb;
}

.infoTable::after{
    position: absolute;
    top: 111px;
    right: -13px;
    display: block;
    width: 8px;
    height: 0;
    pointer-events: none;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
 
    margin-top: 1px;
    margin-right: 2px;
    border-width: 7px;
    border-left-color: #f1f8ff;
}

#ballAndPaddleInfo ul {
    padding-left: 5px;
}

#ballAndPaddleInfo ul li {
    list-style: none;
    margin-left: 10px;
}

#ballAndPaddleInfo ul li span {
    float: right;
    margin-right: 10px;
}


canvas {
    border: 3px black solid;
    background: #eee;
}

select {
    margin: 0 10px;
}


.instr {
    float: left;
    padding-right: 10px;
}
.btn-play-again {
    background: #C44752;
    display: inline-block;
    color: #fff;
    padding: 0 1.4em;
    height: 42px;
    line-height: 42px;
    border-radius: 4px;
}

.btn-play-again:hover {
    background: #19556D;
}

.instr-footer {
    text-align:  center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.8;
    margin-top: 30px;
}

.game-notifications {
    margin: 20px auto 0;
    width: 460px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.heart {
    display: inline-block;
    width: 24px;
    height: 19px;
    background: #fff url('../img/heart.png') no-repeat top left;
    background-size: 24px auto;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
} 
.heart-o {
    background: #fff url('../img/heart.png') no-repeat 0 -23px;
    background-size: 24px auto;
    position: relative; top: 1px; /* Cheating haha */
}